---
import uniLogo from "../assets/University_of_Essex_logo.svg"
---

<section class="flex flex-row place-items-center mt-8 gap-1 font-jersey overflow-hidden">
    <img src={uniLogo.src} alt="" class="uni logo h-16" />
    <div>
        <span class="time text-sm text-[#EAE6E3]/40 uppercase tracking-wide"> Sept, 2021 - July, 2024 </span>
        <p class="title text-xl text-[#EAE6E3]"> University of Essex Graduate </p>
        <p class="course text-xl text-[#EAE6E3]"> Bachelor of Science in Computer Science </p>
    </div>
</section>