---
import Tool from "./tool.astro";
---

<section class="pt-15 font-jersey text-[#EAE6E3]">
    <p class="text-xl font-jersey uppercase tracking-widest"> Experience </p>
    <div class="flex flex-col mt-6">
        <span class="text-lg text-[#EAE6E3]/40 uppercase tracking-wide"> March, 2025 - Present </span>
        <span class="text-xl mt-0.5 "> Freelance Full Stack Developer, Eastys Accessories </span>
        <p class="text-lg text-[#EAE6E3]/80 mt-0.5"> Built a full-stack inventory management system for an eBay-based store using the eBay REST API,
            automating stock updates and order syncing, reducing manual input by 100%. </p>
        <div class="flex flex-row flex-wrap mt-3 gap-1">
            <Tool tool="React" />
            <Tool tool="TypeScript" />
            <Tool tool="REST" />
            <Tool tool="Python" />
            <Tool tool="Fast API" />
            <Tool tool="CI/CD" />
        </div>
    </div>
</section>