---
import linkedin from '../assets/linkedin.svg';
import github from '../assets/github.svg';
import download from '../assets/download.svg';
---

<section class="mt-7 h-auto">
    <div class="flex flex-row gap-6">
        <div class="flex flex-col gap-3 justify-center">
            <div class="font-jersey text-[#EAE6E3]">
                <span class="" >hiiiii, i am</span>
                <h1 class="text-6xl">BRANDON</h1>
                <h1 class="text-6xl">EASTWELL</h1>
            </div>
            <p class="text-2xl font-jersey text-[#EAE6E3] tracking-wide">A FULL STACK ENGINEER.</p>
        </div>
        <div class="flex flex-col mt-4 max-[550px]:hidden">
            <p class="text-xl font-jersey text-[#EAE6E3]/80">Born in 2003. With a mission to bring my creative expression to full stack development, I am forever exploring the craft of building robust
                systems — focusing on pixel perfect interfaces, scalable architecture and efficient backend solutions.</p>
        </div>
    </div>
    <div class="flex flex-col justify-center mt-4 min-[550px]:hidden">
        <p class="text-xl font-jersey text-[#EAE6E3]/80">Born in 2003. With a mission to bring my creative expression to full stack development, I am forever exploring the craft of building robust
            systems — focusing on pixel perfect interfaces, scalable architecture and efficient backend solutions.</p>
    </div>
</section>
