---
import Project from "./project.astro";
import sivterDemo from "../assets/landing-demo.gif"
import raDemo from "../assets/ra-demo.gif"
import lrsDemo from "../assets/lrs-services.vercel.app_(iPhone 14 Pro Max).png"
---

<section class="projects-section mt-16">
    <p class="text-xl text-[#EAE6E3] font-jersey uppercase tracking-widest"> Projects </p>
    <div class="flex flex-col flex-wrap gap-6 mt-6">
        <Project index="1" img={lrsDemo.src} gitUrl="https://github.com/BrandonEastwell/photography-app" liveUrl="https://github.com/BrandonEastwell/photography-app"
                 title="Photography Sharing Mobile App" tools={["React Native", "TypeScript", "Python", "Django"]} />
        <Project index="2" img={sivterDemo.src} gitUrl="https://github.com/BrandonEastwell/movie-discovery-app" liveUrl="https://sivter-app.vercel.app/"
                 title="Sivter Movie Discovery" tools={["Next", "React", "TailwindCSS", "TypeScript", "Prisma", "PostgreSQL"]} />
        <Project index="3" img={raDemo.src} gitUrl="https://github.com/BrandonEastwell/ra-set-finder" liveUrl="https://github.com/BrandonEastwell/ra-set-finder"
                 title="RA Set Finder" tools={["React", "TypeScript", "TailwindCSS", "Express", "Chrome Extension"]} />
        <Project index="4" img={lrsDemo.src} gitUrl="https://github.com/BrandonEastwell/lrs-services" liveUrl="https://lrs-services.vercel.app/"
                 title="LRS Exterior Services" tools={["React", "TypeScript", "TailwindCSS", "Express"]} />
    </div>
</section>

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from 'gsap/ScrollTrigger';
    gsap.registerPlugin(ScrollTrigger)
    const title = document.querySelector('.projects-section p');

    if (title) {
        gsap.fromTo(title,
            { x: -10, opacity: 0 },
            {
                x: 0,
                opacity: 1,
                duration: 0.8,
                ease: 'power2.out',
                scrollTrigger: {
                    trigger: title,
                    start: 'top 100%',
                }
            }
        );
    }

</script>