---
import Resume from "../components/resume.astro";
import Links from "../components/links.astro";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="relative max-w-screen min-h-screen h-auto w-full bg-gradient-to-bl from-[#212121] from-5% to-[#1A1A1B] to-50%">
		<slot />
	</body>
</html>